@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap");

body {
  margin: 0;
}
.page-video {
  position: relative;
}

.page-video-content {
  display: flex;
  flex-direction: column;
  position: absolute;
}

img {
  position: absolute;
  margin-top: 1rem;
}

.page-video-content-nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: 0.3rem;
  top: -45.4rem;
  left: 3rem;
}


.navigation-bar {
  margin-left: 16rem;
  display: flex;
  flex-direction: row;
}

/* .text{
    position: absolute;
} */

.navigation-bar a {
  width: 17%;
  color: rgb(255, 231, 124);
  text-decoration: none;
  font-size: 4.7rem;
  cursor: pointer;
  text-shadow: 0px 15px 1px rgb(52, 72, 172),
    /*3D*/ -2px -3px 2px rgb(52, 72, 172), 0px 10px 2px rgb(52, 72, 172),
    -2px 8px 1px rgb(52, 72, 172), -2px 14px 1px rgb(52, 72, 172),
    2px -2px 2px rgb(52, 72, 172), 2px 2px 2px rgb(52, 72, 172),
    2px 14px 2px rgb(52, 72, 172);
  display: inline-block;
  font-family: "Epilogue", sans-serif;
  transform: scale(0.5, 0.3) skewX(-5deg); /*tamaño, rotación*/
}

/* @keyframes mouse-out{
    from {
        outline: green solid 3px;
    }
    to {
        outline: black solid 3px;
    }
} */

#page-video-content-text {
  width: 53.7rem;
  padding: 0rem;
  font-family: "Epilogue", sans-serif;
  font-size: 5.5rem;
  cursor: pointer;
  text-shadow: 0px 15px 1px rgb(52, 72, 172),
    /*3D*/ -2px -3px 2px rgb(52, 72, 172), 0px 10px 2px rgb(52, 72, 172),
    -2px 8px 1px rgb(52, 72, 172), -2px 14px 1px rgb(52, 72, 172),
    2px -2px 2px rgb(52, 72, 172), 2px 2px 2px rgb(52, 72, 172),
    2px 14px 2px rgb(52, 72, 172);
  transform: scale(0.5, 0.3) skewX(-5deg); /*tamaño, rotación*/
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.3rem;
  top: -11rem;
  left: 20.4rem;
}

/* #page-video-content-text:hover::after {
  /*     animation-name: mouse-out;
    animation-duration: 3s;
  content: "";
  inset: 0;
  position: absolute; /*aparezca el recuadro
  outline: black solid 3px;
  transition: ease-out 1s;
}
 */
p {
  margin: 0;
}

.yellow {
  color: rgb(255, 246, 147);
  padding-bottom: 2rem;
}

.white {
  color: white;
}

#links {
  background: linear-gradient(180deg, #e0bbc9, #ffc2c2 35%,  #fff5cc)  ;
  height: 21.5rem;
}
/* #ffcccc*/